/*******************************************************************************
 Add your styles here
 *******************************************************************************/
.nav-holder nav li.main {
    transition: all linear 0.5s;
}

ul.main {
    transition: all linear 0.5s;
}
ul.sub {
    transition: all linear 0.5s;
}